.icon {
  height: 18px;
  width: 18px;
  fill: var(--color-800);

  &.css {
    height: 15px;
    width: 15px;
  }

  &.restApi {
    height: 12px;
    width: 12px;
  }

  &.dataStructures {
    width: 14px;
    height: 14px;
  }
}

.textIcon {
  font-weight: 600;
  font-size: 14px;

  &.jest {
    transform: translateY(1px);
  }
}
