.comingSoon {
  padding: 70px;
  gap: 50px;
  display: flex;
  flex-direction: column;

  .title,
  .projects {
    display: flex;
    flex-direction: column;
  }

  .title {
    gap: 10px;
  }

  .projects {
    gap: 20px;

    .list {
      list-style-type: disc;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
}
