@import "../../globalStyles/mixins";

.intro {
  @include flex-column;
  gap: 30px;

  .profile {
    max-width: 500px;
    @include flex-column;
    gap: 10px;

    .hand {
      margin-left: 20px;
      height: 60px;
      width: auto;
    }

    position: relative;

    .profilePic {
      position: absolute;
      right: 0;
      top: -30px;
      width: 130px;
      height: 130px;
      border-radius: 100%;
      border: 3px solid var(--color-700);

      @media screen and (max-width: 580px) {
        top: -60px;
      }
    }

    @media screen and (max-width: 494px) {
      position: static;

      .profilePic {
        position: static;
        right: auto;
        top: auto;
        align-self: center;
        transform: translateY(-40px);
      }
    }

    @media screen and (max-width: 401px) {
      h1 {
        font-size: 55px;
      }

      h4 {
        font-size: 30px;
      }

      .hand {
        height: 50px;
        width: 50px;
      }
    }
  }

  .bio {
    max-width: 800px;
    @include flex-column;

    .expandedBio {
      @include flex-column;
      padding-top: 30px;
      gap: 30px;
    }

    .expandBioButton {
      margin-top: 20px;
      align-self: center;
      font-size: 16px;
      color: var(--color-400);
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: left;
      gap: 10px;

      .expandIcon {
        width: 20px;
        height: 20px;
        fill: var(--color-400);
      }
    }
  }
}
