@import '../../globalStyles/mixins';

.skills {
  @include flex-column;
  gap: 30px;

  .skillList {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;

    .skillTag {
      cursor: default;
      display: flex;
      align-items: center;
      gap: 10px;
      border: 1px solid var(--color-300);
      border-radius: 5px;
      padding: 17px;
      white-space: nowrap;
    }
  }
}
