@import './globalStyles/mixins';

.app {
  --color-0: white;
  --color-50: #f8fafc;
  --color-200: #e2e8f0;
  --color-300: #cbd5e1;
  --color-400: #94a3b8;
  --color-700: #334155;
  --color-800: #1e293b;
  --color-highlight: #3ba3ff;
}

.app.nightMode {
  --color-0: black;
  --color-50: #1b222d; /* bgc */
  --color-300: #64748b; /* borders and button hover */
  --color-300: #42464b; /* borders and button hover */
  --color-400: #94a3b8; /* secondary gray text, projects border hover */
  --color-700: #f1f5f9; /* paragraph text */
  --color-800: white; /* main text */
  --color-highlight: #00c3ff;
}

/* .app {
  font-family: 'Inter', Helvetica, sans-serif;
  font-size: 16px;
  color: var(--color-800);
  background-color: var(--color-50);
  transition: background-color 0.2s;
  @include flex-column;
  align-items: center;
  padding: 0 40px;
  overflow-x: hidden;

  @media screen and (max-width: 494px) {
    padding: 0 20px;
  }

  .content {
    max-width: 1060px;
    @include flex-column;
    gap: 100px;
  }

  * {
    box-sizing: border-box;
  }

  p {
    color: var(--color-700);
    line-height: 1.8;
  }

  a {
    color: var(--color-highlight);
  }

  h1 {
    font-size: 70px;
    letter-spacing: -3.7px;
    font-weight: 600;
  }

   h4 {
    font-size: 40px;
    font-weight: 300;
    color: var(--color-highlight);
    letter-spacing: -1px;
  }
} */

h2 {
  font-size: 40px;
  letter-spacing: -2.6px;
  font-weight: 600;
}

h3 {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -0.3px;
}
