@import 'tailwindcss';

@theme {
  --font-sans: 'Inter', Helvetica, sans-serif;

  /* Light mode colors */
  --color-absolute: white;
  --color-primary: #1e293b;
  --color-secondary: #334155;
  --color-tertiary: #94a3b8;
  --color-border: #cbd5e1;
  --color-background: #f8fafc;
  --color-accent: #3ba3ff;

  --color-200: #e2e8f0;

  /* Dark mode colors */
  --color-absolute-dark: black;
  --color-primary-dark: white;
  --color-secondary-dark: #f1f5f9;
  --color-tertiary-dark: #94a3b8;
  --color-border-dark: #42464b;
  --color-background-dark: #1b222d;
  --color-accent-dark: #00c3ff;

  --tracking-tightest: -0.05em;
}

.dark {
  --color-absolute: var(--color-absolute-dark);
  --color-primary: var(--color-primary-dark);
  --color-secondary: var(--color-secondary-dark);
  --color-tertiary: var(--color-tertiary-dark);
  --color-border: var(--color-border-dark);
  --color-background: var(--color-background-dark);
  --color-accent: var(--color-accent-dark);
}
