.nightSwitch {
  /* Day Colors */
  --slate-100: #eaedef;
  --slate-400: #d3dcea;

  /* Night Colors */
  --dark-1: #1e1f26;
  --dark-2: #121417;
}

.nightSwitch {
  --switch-bgc: var(--slate-100);
  --slider-bgc: white;

  &.switchOn {
    --switch-bgc: var(--dark-2);
    --slider-bgc: var(--dark-1);
  }
}

.nightSwitch {
  background-color: var(--switch-bgc);
  border-radius: 50px;
  width: 60px;
  padding: 5px;
  cursor: pointer;
}

.slider {
  background-color: var(--slider-bgc);
  width: 22px;
  height: 22px;
  border-radius: 100%;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
  position: relative;
  transition:
    background-color 0.3s,
    transform 0.3s;
}

.sliderOn {
  transform: translateX(27px);
}

/* Icon Positioning */

.nightIcon,
.dayIcon {
  height: 14px;
  width: 14px;
  fill: #c6c8cc;
}

.nightSwitch {
  position: relative;
}

.nightIcon,
.dayIcon {
  position: absolute;
  top: 8px;
}

.dayIcon {
  left: 9px;
}

.nightIcon {
  right: 9px;
}
